.App {
  text-align: center;
  padding: 0px;
}

.App-header {
  background-color:282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding: 0px;
}

.cell{
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  color: black;
  padding: 0px;
  background-color: white;
  border: 1px solid black;
  table-layout: fixed;
  transition: 250ms;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 14px 14px 14px;
  grid-template-rows: 14px 14px 14px;
}

.cell.isselected {
  background-color: rgb(70, 179, 216);
}

.cell.ishighlighted {
  background-color: lightblue;
}

.cell:hover {
  background-color: grey;
}

.cell div {
  font-size: 13px;
  transition: 250ms;
}

.cell-complete{
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  color: black;
  padding: 0px;
  background-color: white;
  border: 1px solid black;
  table-layout: fixed;
  transition: 250ms;
}

.cell-complete.isdigithighlighted {
  background-color: rgb(70, 179, 216);
}

.cell-complete.ishighlighted {
  background-color: lightblue;
}

.cell:hover div{
  color: white;
}

.cell-complete:hover {
  background-color: grey;
  color: white;
}

.cell-selected{
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  color: rgb(61, 61, 61);
  padding: 0px;
  background-color: darkgreen;
  border: 1px solid black;
  table-layout: fixed;
  transition: 250ms;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 10px 10px 10px;
  grid-template-rows: 10px 10px 10px;
}

.grid-table {
  width: auto;
  height: auto;
  table-layout: fixed;
  border-collapse:  collapse;
  border: 3px solid lightslategray;
  background-color: 282c34;
}

.grid-table tr {
  display: flex;
}

.grid-table tr td {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.grid-cell {
  flex: 1;
}

.cell-subgrid {
  font-size: 10px;
  color: lightslategray
}

.bBorder {
  border-bottom: 3px solid black;
}

.rBorder {
  border-right: 3px solid black;
}

.buttons {
  width: 100%;
  padding: 10px;
  flex: 1;
}

.number-buttons-table {
  border-spacing: 5px;
  border-collapse: separate;
}

.number-buttons-td {
  padding: 1px;
}

.number-buttons {
  background-color: lightgreen;
  font-size: 25px;
  flex: 1;
  width: 50px;
  height: 50px;
  border-radius: 100px;
}