.App {
  text-align: center;
  padding: 0px;
}

.App-header {
  background-color:282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding: 0px;
}

.cell{
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  padding: 0px;
  background-color: white;
  border: 1px solid black;
  table-layout: fixed;
}

.cell-highlighted{
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  padding: 0px;
  background-color: lightgreen;
  border: 1px solid black;
  table-layout: fixed;
}

.grid-table {
  width: auto;
  height: auto;
  table-layout: fixed;
  border-collapse:  collapse;
  border: 3px solid lightslategray;
  background-color: 282c34;
}

.grid-table tr {
  display: flex;
}

.grid-table tr td {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.grid-cell {
  flex: 1;
}

.bBorder {
  border-bottom: 3px solid black;
}

.rBorder {
  border-right: 3px solid black;
}

.buttons {
  width: 100%;
  padding: 10px;
  flex: 1;
}

.number-buttons-table {
  border-spacing: 5px;
  border-collapse: separate;
}

.number-buttons-td {
  padding: 1px;
}

.number-buttons {
  background-color: teal;
  font-size: 25px;
  flex: 1;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}